<html>
    <head>
        <title>我的相册 - {% block title %}{% endblock %}</title>
        <a href="/">返回主页</a>
        <style type="text/css">
            body { margin: 30px; font-family: Microsoft Yahei,sans-serif; background: #fff; }
            h1 { background: #6E94A3; padding: 20px; color:#fefefe; }
            h2 { background: #ddf; padding: 10px 20px; }
            h3 { background: #D7E8F0; padding: 5px 20px; }
            p { padding: 5px 20px; }
            table { width: 100%; }
            table th { text-align: left; }
        </style>
    </head>
    <body>
        <h1>我的相册</h1>
        {% block content %}{% endblock %}
    </body>
</html>