<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书架</title>
</head>
<body>
    <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr class="danger">
                    <th>名字</th>
                    <th>作者</th>
                    <th>简介</th>
                </tr>
            </thead>
            <tbody>
                {% if books %}
                    {% for book in books %}
                        <tr class="{% cycle 'active' 'success' 'warning' 'info' %}">
                            <td>{{ book.name }}</td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.brief }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">无数据</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
</body>
</html>