<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>我的简历</title>
	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Apt Resume Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta Tags -->
	<!-- Style Sheets -->
	<link href="{% static 'css/bootstrapre.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- //Style Sheets -->
	<!--web-fonts-->
	<link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700'" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Montserrat:400,700'" rel="stylesheet">
	<!--//web-fonts-->
</head>

<body>
	<!-- banner -->
	<div class="banner" id="home">
		<div class="container">
			<!-- header -->
			<header>

				<div class="header-bottom-agileits">
					<div class="w3-logo">
						<h1><a href="resume.html">Apt Resume<span class="sub-logo">个 人 简 历</span></a></h1>
					</div>
					<!-- navigation -->
					<nav class="navbar navbar-default shift">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
							    aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>

						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a class="active" href="">主页</a></li>
								<li><a class="scroll" href="#about">关于</a></li>
								<li><a class="scroll" href="#skills">技能</a></li>
								<li><a class="scroll" href="#portfolio">日常</a></li>
								<li><a class="scroll" href="#contact">联系</a></li>
							</ul>

						</div>
						<!-- /.navbar-collapse -->

					</nav>
				</div>
				<div class="clearfix"></div>
				<!-- //navigation -->
			</header>
			<!-- //header -->
			<div class="banner-text-w3-agileits">
				<h5>欢迎！ 我是</h5>
				<h2><span></span>张 <span></span>涛</h2>
				<p>Python开发&电竞爱好者</p>
				<div class="botton">
					<a href="#about" class="scroll">关于 我 <span class="fa fa-caret-right"></span></a>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!--about-->
	<div class="about-w3layouts" id="about">
		<div class="container">
			<div class="tittle-agileinfo">
				<div class="title-wthree">
					<h5 class="title-w3"><span>01</span>关于</h5>
					<div class="clearfix"></div>
				</div>
				<div class="about-top">
					<h3 class="subheading-agileits-w3layouts">人生格言</h3>
					<p class="para-agileits-w3layouts">万物皆虚，万事皆允，存在即合理。 努力去做自己喜欢的事情，把它做到极致自然会有人认同你</p>
				</div>
			</div>
			<div class="col-md-4 about-left-agileits">
				<div class="services-grids social">
					<a class="fa fa-delicious" aria-hidden="true"></a>
					<p class="para-agileits-w3layouts">扎实的Python基础，代码严格遵循PEP8规则，快速的BUG定位能力</p>
					<div class="clearfix"></div>
					<h6>Python 开发</h6>
				</div>
				<div class="services-grids">
					<a class="fa fa-globe" aria-hidden="true"></a>
					<p class="para-agileits-w3layouts">吾虽浪迹天涯 却未迷失本心</p>
					<h6>英雄联盟</h6>
				</div>
				<div class="services-grids">
					<a class="fa fa-desktop" aria-hidden="true"></a>
					<p class="para-agileits-w3layouts">我的M416用轻型握把~</p>
					<h6>PUBG</h6>
				</div>
				<div class="services-grids">
					<a class="fa fa-mobile" aria-hidden="true"></a>
					<p class="para-agileits-w3layouts">目前还没有0.0不知道上钻石算不算</p>
					<h6>成绩</h6>
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="col-md-8 about-right">
				<div class="about-border-w3ls">
				</div>
				<div class="person-info-agileits-w3layouts">
					<p class="para-agileits-w3layouts"><span>Hi!, There are some basic info of me </span>毕业于武汉理工大学信息工程学院，喜欢编程，具有扎实的Python编程基础，熟悉MySQL数据库，熟悉redis和redis集群，了解网络爬虫相关知识；
                        有flask和django实际开发经验。能够在Linux环境下开发，熟悉Linux下的常用命令。自学能力强，有良好的分析和解决问题的能力，责任心强，能趁手较大的工作压力，熟练使用git和jenkins，熟练docker的使用</p>
					<ul>
						<li><span>Name</span>: 张涛</li>
						<li><span>Age</span>: 25</li>
						<li><span>Experience</span>: 2年 +</li>
						<li><span>Email</span>: <a href="https://mail.qq.com/cgi-bin/frame_html?sid=qRtBPwSxnhaSb1gE&r=8f5bd09e8cf69f40c74c43db4f15ec41">931675058@qq.com</a></li>
						<li><span>Phone</span>: 16620810445</li>
						<li><span>Website</span>: <a href="#">www.zhangtao931.com</a></li>
						<li><span>Address</span>: 四川省德阳市中江县</li>
						<li><a href="/resume/download/" class="botton-w3ls">Download CV</a>
						</li>
					</ul>
					<div class="clearfix"></div>

					<div class="pos-w3ls">
						<h4><span class="red-w3ls"></span> 联系我</h4>
						<div class="button-w3layouts"><a href="#contact" class="scroll">联系我</a></div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//about-->
	<!--education-->
	<div class="display-w3lsagile">
		<div class="col-md-7 col-sm-7 edu-img-agileits">
		</div>
		<div class="col-md-5 col-sm-5 display-grid-w3lsagile display-grid-1-w3lsagile">

			<!-- Scrolling-Articles -->
			<div class="activity_box agileits w3layouts">
				<div class="title-wthree">
					<h5 class="title-w3"><span>02</span>Education</h5>
					<div class="clearfix"></div>
				</div>
				<div class="scrollbar agileits w3layouts" id="style-2">
					<div class="activity-row agileits w3layouts">
						<div class="activity-img agileits w3layouts">
							<h6>2012-2016</h6>
						</div>
						<div class="activity-desc agileits w3layouts">
							<h5>大学</h5>
							<p class="para-agileits-w3layouts">武汉理工大学</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="activity-row agileits w3layouts">
						<div class="activity-img agileits w3layouts">
							<h6>2009-2012</h6>
						</div>
						<div class="activity-desc agileits w3layouts">
							<h5>高中</h5>
							<p class="para-agileits-w3layouts">新都香城中学</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- //Scrolling-Articles -->

		</div>
		<div class="clearfix"></div>
	</div>
	<!--//education-->
	<!--experience-->
	<div class="display-w3lsagile">
		<div class="col-md-7 col-sm-7 exp-img-agileits">
		</div>
		<div class="col-md-5 col-sm-5 display-grid-w3lsagile display-grid-1-w3lsagile">

			<!-- Scrolling-Articles -->
			<div class="activity_box agileits w3layouts">
				<div class="title-wthree work_box">
					<h5 class="title-w3"><span>03</span>工作经历</h5>
					<div class="clearfix"></div>
				</div>
				<div class="scrollbar agileits w3layouts" id="style-1">
					<div class="activity-row agileits w3layouts">
						<div class="activity-img agileits w3layouts">
							<h6>2018-至今</h6>
						</div>
						<div class="activity-desc agileits w3layouts">
							<h5>中软国际</h5>
							<p class="para-agileits-w3layouts">Python开发，主要工作内容是开发自动化部署系统。熟练使用docker, git, MySQL, redis/redis集群, Flask, Django... </p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="activity-row agileits w3layouts">
						<div class="activity-img agileits w3layouts">
							<h6>2016-2018</h6>
						</div>
						<div class="activity-desc agileits w3layouts">
							<h5>富泰华（深圳）科技有限公司</h5>
							<p class="para-agileits-w3layouts">Python开发， 主要从事一些小脚本的开发，提升工作效率。例如：提供脚本能下发文件到上百台主机相应路径上面、根据收集到的数据自动生成Excel报表、检测远端主机日志内容...</p>
						</div>
						<div class="clearfix"></div>
					</div>
{#					<div class="activity-row agileits w3layouts">#}
{#						<div class="activity-img agileits w3layouts">#}
{#							<h6>2012-2014</h6>#}
{#						</div>#}
{#						<div class="activity-desc agileits w3layouts">#}
{#							<h5>Sitamet</h5>#}
{#							<p class="para-agileits-w3layouts">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>#}
{#						</div>#}
{#						<div class="clearfix"></div>#}
{#					</div>#}
{#					<div class="activity-row agileits w3layouts">#}
{#						<div class="activity-img agileits w3layouts">#}
{#							<h6>2008-2011</h6>#}
{#						</div>#}
{#						<div class="activity-desc agileits w3layouts">#}
{#							<h5>Consectetur</h5>#}
{#							<p class="para-agileits-w3layouts">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec congue risus. In non nulla lacus. Maecenas#}
{#								eros sapien, eleifend quis augue eu, pellentesque tincidunt tellus.</p>#}
{#						</div>#}
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- //Scrolling-Articles -->

		</div>
		<div class="clearfix"></div>
	</div>
	<!--//experience-->
	<!-- awards and skills -->
	<div class="awards-bg-agile" id="skills">
		<div class="container">
			<div class="col-md-6 awards-agileits-w3layouts">
				<div class="title-wthree">
					<h5 class="title-w3"><span>04</span>常用工具</h5>
					<div class="clearfix"></div>
				</div>
				<div class="w3_agileits_services_grids">
					<div class="col-md-3 w3_agileits_services_grid">
						<div class="w3_agileits_services_grid_agile">
							<div class="w3_agileits_services_grid_1 i1">
								<a class="fa fa-bookmark-o" aria-hidden="true"></a>
							</div>
							<h3>MySQL</h3>
							<p class="para-agileits-w3layouts">MySQL作为一个常用的关系型数据库管理系统，非常适合中小型网站开发数据库</p>
						</div>
					</div>
					<div class="col-md-3 w3_agileits_services_grid">
						<div class="w3_agileits_services_grid_agile">
							<div class="w3_agileits_services_grid_1 i2">
								<a class="fa fa-television" aria-hidden="true"></a>
							</div>
							<h3>Redis&Redis Cluster</h3>
							<p class="para-agileits-w3layouts">Redis是一个开源的key-value数据库，常用作消息中间件</p>
						</div>
					</div>
					<div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
						<div class="w3_agileits_services_grid_agile">
							<div class="w3_agileits_services_grid_1 i3">
								<a class="fa fa-magic" aria-hidden="true"></a>
							</div>
							<h3>Docker</h3>
							<p class="para-agileits-w3layouts">Docker 是一个开源的应用容器引擎，把项目放到容器中开发易于管理</p>
						</div>
					</div>
					<div class="col-md-3 w3_agileits_services_grid">
						<div class="w3_agileits_services_grid_agile">
							<div class="w3_agileits_services_grid_1 i4">
								<a class="fa fa-trophy" aria-hidden="true"></a>
							</div>
							<h3>Git</h3>
							<p class="para-agileits-w3layouts">Git是一个开源的分布式版本控制系统，可以有效、高速地处理从很小到非常大的项目版本管理</p>
                            <a href="https://github.com/tyrionzt/MiddleRiver">my github</a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-6 skills-w3layouts">
				<div class="title-wthree">
					<h5 class="title-w3"><span>05</span>技能</h5>
					<div class="clearfix"></div>
				</div>
				<div class="skill-main-agileits">
					<p class="p1">熟练</p>
					<h4>Python</h4>
				</div>
				<div class="skill-main-agileits">
					<p class="p2">了解</p>
					<h4>html, js</h4>
				</div>
				<div class="skill-main-agileits">
					<p class="p3">了解</p>
					<h4>基础算法</h4>
				</div>
				<div class="skill-main-agileits">
					<p class="p4">熟练</p>
					<h4>EQ闪</h4>
				</div>
				<div class="skill-main-agileits">
					<p class="p5">最强</p>
					<h4>R闪</h4>
				</div>
				<div class="skill-main-agileits">
					<p class="p6">熟练</p>
					<h4>300-500米98K</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- //awards and skills -->
	<!-- language -->
	<div class="language-skills">
		<div class="container">
			<div class="col-md-6 lang-left-w3-agile">
				<div class="title-wthree">
					<h5 class="title-w3">其它能力</h5>
					<div class="clearfix"></div>
				</div>
				<p class="para-agileits-w3layouts">不知道哪位圣人说过：人生来都是傻瓜，天才只是学习能力更强</p>
			</div>
			<div class="col-md-6 w3l_about_bottom_grid_right bar-grids">
				<h6>Git<span> 99% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 100%">
					</div>
				</div>
				<div class="mid-bar">
					<h6>Engilsh<span> 80% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 85%">
						</div>
					</div>
				</div>
				<h6>docker<span>60% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 67%">
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //language -->
	<!-- gallery -->
	<div class="gallery" id="portfolio">
		<div class="container">
			<div class="title-wthree">
				<h5 class="title-w3"><span>07</span>日常</h5>
				<div class="clearfix"></div>
			</div>
			<div class="w3ls_gallery_grids">
				<div class="col-md-4 w3_agile_gallery_grid">
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="{% static 'image/1.jpg' %}">
							<div class="agile_gallery_grid1">
								<img src="{% static 'image/1.jpg' %}" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="{% static 'image/2.jpg' %}">
							<div class="agile_gallery_grid1">
								<img src="{% static 'image/2.jpg' %}" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="{% static 'image/3.jpg' %}">
							<div class="agile_gallery_grid1">
								<img src="{% static 'image/3.jpg' %}" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_agile_gallery_grid">
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="{% static 'image/4.jpg' %}">
							<div class="agile_gallery_grid1">
								<img src="{% static 'image/4.jpg' %}" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="{% static 'image/5.jpg' %}">
							<div class="agile_gallery_grid1">
								<img src="{% static 'image/5.jpg' %}" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="{% static 'image/6.jpg' %}">
							<div class="agile_gallery_grid1">
								<img src="{% static 'image/6.jpg' %}" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_agile_gallery_grid">
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="{% static 'image/7.jpg' %}">
							<div class="agile_gallery_grid1">
								<img src="{% static 'image/7.jpg' %}" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="{% static 'image/8.jpg' %}">
							<div class="agile_gallery_grid1">
								<img src="{% static 'image/8.jpg' %}" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="{% static 'image/9.jpg' %}">
							<div class="agile_gallery_grid1">
								<img src="{% static 'image/9.jpg' %}" alt=" " class="img-responsive" />
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //gallery -->

	<!-- footer -->

	<!-- contact -->
	<div class="contact-agileits-w3layouts" id="contact">
		<div class="contact-right-wthree">
			<div class="container">
				<div class="title-wthree">
					<h5 class="title-w3"><span>08</span>联系我</h5>
					<div class="clearfix"></div>
				</div>
				<div class="address-w3layouts">
					<p class="para-agileits-w3layouts">您可以随时通过我的邮箱联系我，但我一般不会看，最好微信或者手机</p>
					<h4><a href="https://mail.qq.com/cgi-bin/frame_html?sid=qRtBPwSxnhaSb1gE&r=8f5bd09e8cf69f40c74c43db4f15ec41">931675058@qq.com</a></h4>
					<h6>16620810445</h6>
					<p class="para-agileits-w3layouts">四川省德阳市中江县太和绿洲</p>
				</div>
				<div class="botttom-nav-agileits">
					<div class="w3l-social">
						<ul>
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-google-plus"></a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>

			</div>
		</div>
		<div class="wthree-form">
			<div class="container">
				<div class="col-md-6 contact-form agile_inner_grids">
					<h5 class="title-w3">Say Hello</h5>
					<form action="#" method="post">
						<div class="fields-grid">
							<div class="styled-input">
								<input type="text" name="Full Name" placeholder="姓名" required="">
							</div>
							<div class="styled-input">
								<input type="email" name="Email" placeholder="微信" required="">
							</div>
							<div class="styled-input">
								<input type="text" name="Subject" placeholder="主题" required="">
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="styled-input textarea-grid">
							<textarea name="Message" placeholder="内容" required=""></textarea>
						</div>
						<input type="submit" value="发送">
					</form>
				</div>
				<div class="col-md-6 map-w3-agileits">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2477.523147399147!2d-0.18136368416846532!3d51.61362537965271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487619e5c86f6147%3A0x7f009116a7f24760!2sNether+Street+Apartment!5e0!3m2!1sen!2sin!4v1501221607097"></iframe>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //contact -->
	<!-- Footer -->
	<div class="copyright-wthree">
		<div class="container">
			<p>&copy; Thanks！  All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts </a></p>
		</div>
	</div>
	<!-- //Footer -->

	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- //smooth scrolling -->
	<script type='text/javascript' src='js/jquery-2.2.3.min.js'></script>
	<!-- start-smoth-scrolling -->
	<!--gallery -->
	<script src="{% static 'js/jquery.chocolat.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/chocolat.css' %}" type="text/css" media="screen">
	<!--light-box-files -->
	<script type="text/javascript">
		$(function () {
			$('.w3_agile_gallery_grid a').Chocolat();
		});
	</script>
	<!-- //gallery -->
	<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!--js for bootstrap working-->
	<script src="{% static 'js/bootstrapre.js' %}"></script>
	<!-- //for bootstrap working -->
</body>

</html>